.formHeader {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin: 20px auto;
  max-width: 25%;
  padding: 35px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form_input--container {
  justify-content: center;
  align-items: center;

  width: 85%;
  margin: 0 auto;
}

.formButton {
  background-color: #005bea !important;
  width: 100%;
  height: 5vh;
  margin: 0 auto;
  margin-top: 8px;
  transition-duration: 0.4s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.875) !important;
  }
}

.inputStyle {
  margin-top: 10px;
}
.inputRateDate {
  margin-top: 1px;
}
input.input-class::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.errorInput {
  border: 0.5px solid rgb(255, 0, 0) !important;
}

.errorMessage {
  color: #f44336;
  font-size: 14px;
  margin: 0 auto;
}
.dark {
  background-color: #22272ee5;
  color: white;
}
.light {
  background-color: white;
}

@media only screen and (max-width: 568px) {
  .formHeader {
    width: 100%;
    margin-top: 20px;
  }
  .form_input--container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
  }
  .inputStyle {
    margin-top: 10px;
  }
  .formButton {
    height: 50px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1432px){
  .formHeader{
   max-width: 30%;
  }
 }

 @media screen and (max-width: 1434px){
  .formHeader{
   max-width: 40%;
  }
 }
 @media screen and (max-width: 1366px){
  .formHeader{
   max-width: 40%;
  }
 }
 @media screen and (max-width: 1188px){
  .formHeader{
   max-width: 45%;
  }
 }
 @media screen and (max-width: 942px){
  .formHeader{
   max-width: 45%;
  }
 }
 @media screen and (max-width: 832px){
  .formHeader{
   max-width: 65%;
  }
 }
 @media screen and (max-width: 778px){
  .formHeader{
   max-width: 65%;
  }
 }
 @media screen and (max-width: 668px){
  .formHeader{
   max-width: 70%;
  }
 }
 @media screen and (max-width: 522px){
  .formHeader{
   max-width: 90%;
  }
 }
 @media screen and (max-width: 400px){
  .formHeader{
   max-width: 100%;
  }
 }
