.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  align-items: center;
  padding: 35px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  h1 {
    margin-right: 12.8rem;
    font-size: 25px;
  }
  .id {
    width: 30rem;
  }
  .password {
    width: 30rem;
  }
  span {
    font-size: 12px;
  }
}
.dark {
  background-color: #22272e;
  color: white;
  max-width: 725px;
  padding: 35px;
  border-radius: 10px;
}
.light {
  background-color: var(--white-background-color);
  padding: 35px;
  max-width: 725px;
  border-radius: 10px;
}
.loginButton {
  display: flex;
  background-color: #005bea !important;
  width: 30rem;
  justify-content: center;
  height: 2.5rem;
  margin-top: 1.5rem;
}

.signIn {
  display: flex;
  justify-content: center;
  color: rgb(33, 150, 243);
  text-decoration: none;
  cursor: pointer;
}
.errorMessage {
  margin-bottom: -15px;
  color: #f44336;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .container {
    align-items: center;
    h1 {
      margin: 0 auto;
      font-size: 25px;
    }
    .id {
      width: 23rem;
    }
    .password {
      width: 23rem;
    }
    span {
      font-size: 12px;
    }
  }
  .loginButton {
    width: 23rem;
  }
  .signIn {
    margin-top: -0.5rem;
  }
}
