.navbar {
  display: flex;
}
.firstNavLink {
  color: black;
  margin-left: 7rem;
  text-decoration: none;
}
.navLink {
  display: flex;
  margin-left: 52rem;
  color: black;
  text-decoration: none;
}
.Links {
  display: flex;
  margin-top: -1rem;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
}
.brand {
  margin-top: -1rem;
  margin-left: 1rem;
}
.OtherNavs {
  margin-left: 1rem;
  color: black;
  margin-left: 2.2rem;
  text-decoration: none;
}
.registerNav {
  cursor: pointer;
  margin-left: 15px;
  text-decoration: none;
  color: white;
  padding: 1rem;
  background-color: rgb(0, 101, 255);
  border-radius: none;
  border: none;
  align-items: center;

  &:hover {
    color: white;
    background-color: rgb(2, 81, 199);
  }
}

@media screen and (max-width: 480px) {
  /* Style dla ekranów o szerokości do 480px (np. telefony) */
  .navbar {
    /* Zmiana układu na blokowy */
    text-align: left;
    align-items: center;
    display: block;
  }

  .firstNavLink,
  .navLink,
  .OtherNavs {
    padding: 3px;
    margin: 0 auto;
  }

  .registerNav {
    margin-top: 0.5rem;
    padding: 9px;
    border-radius: 2%;
  }
}
