.navbar {
  display: flex;
  padding: 6px;
  position: sticky;
  top: 0;
  z-index: 9999;
  align-items: center;

  .hamburger {
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
  }
  .logo {
    margin-left: 15px;
    font-size: 25px;
  }
}

.sidebar {
  height: 100%;
  width: 240px;
  flex-direction: column;
  position: fixed;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

li:hover .submenu {
  display: flex;
  max-height: 200px;
  min-width: 300px;
  max-height: 0;
  flex-direction: column;
  margin-left: 86px;
  transform: translateX(80px);
  li {
    transform: translateY(-34px);
    min-height: 50px;
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  a {
    padding: 10px;
    text-align: left;
  }
}

li:hover > .secondSubmenu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 260px;
  width: 190px;
  list-style: none;
  transform: translateY(-50px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  cursor: pointer;

  a {
    text-decoration: none;
    color: black;
  }
}

.submenu,
.secondSubmenu {
  display: none;
}

li {
  padding: 10px;
  list-style: none;
}
.show {
  transform: translateX(0%);
}
.dark {
  text-decoration: none;
  background-color: #22272e;
  color: rgb(253, 253, 253) !important;
}
.light {
  background-color: white;
  text-decoration: none;
  color: black;
}

.icons {
  margin-right: 0.6rem;
  vertical-align: middle;
}

.buttonGroup {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: auto;
  gap: 15px;
}
.registerNav {
  cursor: pointer;
  a {
    text-decoration: none;
    color: white;
    padding: 0.8rem;
    margin-right: 100px;
    background-color: rgb(0, 101, 255);

    &:hover {
      background-color: rgb(2, 81, 199);
    }
  }
}
.loginBtnSideBar,
.registerBtnSideBar {
  display: none;
}

.signInButton {
  display: flex;

  a {
    font-size: 18.5px;
    color: rgb(23, 43, 77);
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .sidebar {
    background-color: white;
    width: 160px;
  }
  a {
    font-size: 15px;
  }
  .show {
    z-index: 1;
    display: flex;
    background-color: white;
  }

  .buttonGroup {
    display: none;
  }
  .loginBtnSideBar {
    display: block;
    margin-right: auto;
    color: black;
    text-decoration: none;
  }
  .registerBtnSideBar {
    display: flex;
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 101, 255);
  }
  .dark {
    background-color: #22272e;
    color: rgb(253, 253, 253) !important;
  }
  .light {
    background-color: white;
    color: black;
  }
  .ulList {
    transform: translateX(8px);
    list-style: none;
    cursor: pointer;
    a {
      color: black;
      text-decoration: none;
      box-shadow: inset 0 0 0 0 #74899123;
    }
  }
  .secondSubmenu {
    list-style: none;
    margin-top: 60px;
    max-width: 500px;
    list-style: none;

    a {
      text-align: left;
      color: black;
      cursor: pointer;

      &:hover {
        box-shadow: inset 500px 0 0 0 #74899118;
      }
    }
  }
  li:hover > .secondSubmenu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 0;
    width: 160px;
    list-style: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;

    li {
      min-height: 61px;
    }
    a {
      text-decoration: none;
      padding: 0;
      color: black;
    }
  }
  li:hover .submenu {
    display: flex;
    min-width: 210px;
    max-height: 0;
    flex-direction: column;
    margin-left: 5px;
    li {
      transform: translateY(-34px);
      min-height: 61px;
      box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    a {
      padding: 7px;
      text-align: left;
    }
  }
}
