.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  flex-direction: column;
  max-width: 500px;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  h3 {
    margin-right: 190px;
  }
  p {
    margin: 0 auto;
    display: flex;
    text-align: left;
  }
  .pSelect {
    margin-top: 5px;
  }
  .input {
    width: 350px;
  }
  .select {
    width: 350px;
  }
  .btn {
    width: 350px;
    margin-top: 15px;
  }
}

.light {
  background-color: var(--white-background-color);
}
.dark {
  background-color: #22272ee5;
  color: var(-white-font-color);
}
