.container {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 1000px;
}
.dropdownBtn {
  cursor: pointer;
  font-size: 20px;
}
.dark {
  background-color: #22272ee5;
  color: var(--white-font-color);
}
.light {
  background-color: var(--white-background-color);
}
@media screen and (max-width: 457px) {
  .container {
    max-width: 350px;
  }
}
