.switch {
  font-size: 26px;
  margin-left: 1%;
  cursor: pointer;
}
.switchPosition{
  transition: all 0.5s ease-in-out;
  transform: rotateY(0deg);

}
.switchPositionAgain{
  transition: all 0.5s ease-in-out;
  transform: rotateY(180deg);
}
@media (max-width: 768px) {
  .switch{
    margin-left: 59%;
  }
}