.main_table--container {
  display: flex;
  flex-direction: column; 
  margin-left: 950px;
  margin-top: 20px;
  padding: 10px;
  max-width: 750px;

  border-radius: 10px;
  min-height: 630px;
  max-height: 630px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.table {
  
  border-collapse: collapse;
  text-align: start;

}

.h1_table {
  display: flex;
  margin: 15px auto;
  font-size: 25px;
  text-align: center;
}
.summarydatas_table--tr {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 600px;
  margin-right: auto;

  h3{
    font-size: 25px;
  }
}
.btnRefresh{
  margin-left: auto;
}
.cancel {
  color: red;
  background-color: red !important;
  border: 1px solid black;
  cursor: pointer;
}
.profitOrLoss {
  text-align: left;
  font-size: 16px;
}
.pInfo{
  display: flex;
  width: 160px;
  margin-left: auto;
}
.dark {
  background-color: #22272ee5;
  color: rgb(253, 253, 253) !important;
}
.light {
  background-color: white;
  color: black;
}

@media screen and (max-width: 1457px) {
  .main_table--container {
    margin: 0 auto;
    margin-top: 20px;
  
  }
}
