.main_table--container {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.table {
  max-width: 95%;
  border-collapse: collapse;
  margin: 0 auto;
  font-weight: bold;
  text-align: start;
}

.h1_table {
  margin: 15px auto;
  font-size: 25px;
  text-align: center;
}
.summarydatas_table--tr {
  background-color: #ffffff;
  margin: 0px auto;
  margin-top: 20px;
  padding: 25px;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.cancel {
  color: red;
  background-color: red !important;
  border: 1px solid black;
  cursor: pointer;
}
.profitOrLoss {
  display: flex;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
.dark {
  background-color: #22272ee5;
  color: rgb(253, 253, 253) !important;
}
.light {
  background-color: white;
  color: black;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .main_table--container {
    background-color: #ffffff;
    margin: 10px auto;
    padding: 5px;
    max-width: 362px;
  }
  .fundsdata_table--th--td {
    display: none;
  }
  .table-responsive {
    max-width: 350px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .App-header {
    margin: 10px auto;
    max-width: 379px;
  }
}
@media only screen and (max-width: 375),
  (min-device-width: 383) and (max-device-width: 667) {
  .App-header {
    margin: 5px auto;
    max-width: 250px;
  }
}
@media only screen and (max-width: 568px) {
  .App-header {
    max-width: 362px;
  }
}
//