.main_table--container {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 10px;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.table {
  border-collapse: collapse;
  margin: 0 auto;
  font-weight: bold;
  text-align: start;
}

.h1_table {
  margin: 15px auto;
  font-size: 25px;
  text-align: center;
}
.summarydatas_table--tr {
  background-color: #ffffff;
  margin: 0px auto;
  margin-top: 20px;
  padding: 25px;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.cancel {
  color: red;
  background-color: red !important;
  border: 1px solid black;
  cursor: pointer;
}
.profitOrLoss {
  display: flex;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
.dark {
  background-color: #22272ee5;
  color: rgb(253, 253, 253) !important;
}
.light {
  background-color: white;
  color: black;
}
