.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  flex-direction: column;
  max-width: 1200px;
  max-height: 800px;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  h2 {
    font-size: 28px;
    margin-top: 20px;
    margin-right: auto;
  }
  span {
    margin-right: auto;
  }
  .selectGroup {
    display: flex;
    justify-content: center;
    max-width: 250px;
    margin-left: 500px;
    gap: 10px;

    select {
      height: 28px;
      text-align: left;
      font-size: 12px;
    }
    span {
      display: flex;
    }
  }
  .btnGroup {
    margin-top: 20px;
    display: flex;
    gap: 20px;

    button {
      text-align: center;
      max-width: 190px;
    }
  }
  .wallets {
    display: flex;
    margin-left: auto;
    align-items: center;
    max-width: 160px;
  }
}
.light {
  background-color: white;
}
.dark {
  background-color: #22272ee5;
  color: white;
}
.modalLayout {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.modal {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 830px) {
  h2 {
    margin-right: 50px;
  }
  .btnGroup {
    display: flex;
    button {
      text-align: center;
    }
  }
}
@media screen and (max-width: 606px) {
  .container {
    max-height: 1110px;
    max-width: 510px;

    h2 {
      margin-right: 340px;
    }
    span {
      margin-right: 230px;
    }
    .btnGroup {
      flex-direction: column;
      button {
        max-width: 165px;
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-height: 1110px;
    max-width: 450px;

    h2 {
      margin-right: 250px;
    }
    span {
      margin-right: 270px;
    }
    .btnGroup {
      flex-direction: column;
      button {
        max-width: 165px;
        text-align: center;
      }
    }
  }
  .visible {
    display: flex;
  }
}
