@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Oswald:wght@200;300&family=Ubuntu:ital@1&family=Unbounded:wght@800&display=swap");

* {
  font-family: "Kanit", sans-serif;
}

html{
  height: 100%;
}
body{
  min-height: 100vh;
  padding: 0;
}


.light {
  background-color: white;
}
.dark {
  background-color: rgba(5, 5, 5, 0.856);
}
