@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Oswald:wght@200;300&family=Ubuntu:ital@1&family=Unbounded:wght@800&display=swap");
* {
  font-family: "Kanit", sans-serif;
  --white-font-color: white;
  --black-font-color: black;
  --white-background-color: white;
  --dark-theme-nav-background-color: #22272e;
  --cursor-pointer: pointer;
}

a:contains("Powered by MIKR.US") {
  display: none;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  padding: 0;
}
::-webkit-scrollbar {
  width: 3.5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00000031;
}
