.main_table--container {
	background-color: #ffffff;
	margin: 0px auto;
	padding: 10px;
	max-width: 525px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
table {
	max-width: 65%;
	border-collapse: collapse;
	margin: 0 auto;
	font-weight: bold;
	text-align: start;
}

.h1_table {
	margin: 15px auto;
	font-size: 25px;
	text-align: center;
}
.summarydatas_table--tr {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1050px;
	margin: 0 auto;
}

@media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px) {
	.main_table--container {
		background-color: #ffffff;
		margin: 10px auto;
		padding: 5px;
		max-width: 362px;
	
	}
	.fundsdata_table--th--td {
		display: none;
	}
	.table-responsive {
		max-width: 350px;
		margin: 0 auto;
	}
}
